.headerSection {
    font-family: "Poppins", sans-serif;
    height: 80px;
    position: absolute;
    top: 20px;
    width: 100%;
    left: 0px;
    z-index: 999;

    &.active {
        position: fixed;
        background: #FFF;
        box-shadow: 0px 4px 20px 0px rgba(111, 111, 111, 0.05);
        top: 0px;

    }

    .headerLogo {
        height: auto;

        svg {
            height: 70px;
            width: auto;
        }
    }

    .headermobileLogo {
        height: 0px;
        opacity: 0;
        width: 0px;
        visibility: hidden;
    }

}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .headerSection {
        height: 70px;

        .headerLogo {
            svg {
                height: 65px;
                width: auto;
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .headerSection {
        height: 60px;
        top: 10px;

        .headerLogo {
            svg {
                height: 65px;
                width: auto;
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .headerSection {
        height: 50px;
        top: 0px;
        background: #fff;

        .headerLogo {
            height: 0px;
            opacity: 0;
            width: 0px;
            visibility: hidden;
        }

        .headermobileLogo {
            height: auto;
            opacity: 1;
            width: auto;
            visibility: visible;

            svg {
                height: 55px;
                width: auto;
            }
        }

    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .headerSection {
        height: 50px;
        top: 0px;
        background: #fff;

        .headerLogo {
            height: 0px;
            opacity: 0;
            width: 0px;
            visibility: hidden;
        }

        .headermobileLogo {
            height: auto;
            opacity: 1;
            width: auto;
            visibility: visible;

            svg {
                height: 55px;
                width: auto;
            }
        }
    }
}